@use '../../styles/colors';
@use '../../styles/media-queries';
@import '../../styles/mixins';

.recipeHeader {
  @include section-spacings(4rem);

  h1 {
    font-family: 'Young Serif', serif;
    font-size: 3.6rem;
    margin-bottom: 2.4rem;
    color: colors.$color-dark-charcoal;
    line-height: 1;
  }

  p {
  }

  @media (min-width: media-queries.$media-tablet) {
    h1 {
      font-size: 4rem;
    }
  }
}
