@import '../../styles/mixins';

.ingredients {
  @include section-spacings;

  h2 {
    @include secondary-title;
  }

  ul {
    list-style: none;
    margin-top: 1.6rem;

    li {
      position: relative;
      padding-left: 4rem;

      &::before {
        @include dot-list-style;
      }

      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }
    }
  }
}
