@use '../../styles/media-queries';
@use '../../styles/paddings';

.imageWrapper {
  display: block;
  width: 100%;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
  }

  @media (min-width: media-queries.$media-tablet) {
    padding: 0 paddings.$desktop-section-side-paddings;

    img {
      border-radius: 1.2rem;
    }
  }
}
