@use './styles/colors';
@use './styles/media-queries';

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: colors.$color-white-coffee;

  @media (min-width: media-queries.$media-tablet) {
    padding: 10rem;
  }
}
